@import "reset";

*,
*::before,
*::after {
  box-sizing: border-box;
}

@media (prefers-reduced-motion: no-preference) {
  :root {
    scroll-behavior: smooth;
  }
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

a:not([href]):not([class]), a:not([href]):not([class]):hover {
  color: inherit;
  text-decoration: none;
}

.area {
  &-band {
    display: flex;
    flex-wrap: wrap;
  }
  &-image {
    display: grid;
    gap: 20px;
  }
  &-text {
    h2 {
      font-size: 40px;
      line-height: normal;
      margin-bottom: 20px;
    }
    p {
      font-size: 22px;
      line-height: normal;
    }
  }
}
